# Importing the Libraries to be used

In [ ]:
import pandas as pd
import numpy as np

#Loading Data

In [ ]:
with open('/content/Telcom_dataset.csv','r') as f:
  tb1 = pd.read_csv(f, encoding='utf-8')
tb1

     PRODUTC  VALUE               DATETIME  ... COUNTRY_B     CELL_ID     SITE_ID
0      Voice      0  2012-05-06 23:04:37.0  ...     19e2e  /TJNe+Mmtu  /TJNe+Mmtu
1        sms      0  2012-05-06 23:05:25.0  ...     19e2e  /+cKZKIp41  /+cKZKIp41
2        sms     25  2012-05-06 23:05:41.0  ...     19e2e  /u0FSD+ahi  /u0FSD+ahi
3      Voice     56  2012-05-06 23:05:42.0  ...     19e2e  +cNeJzsTp3  +cNeJzsTp3
4      Voice     14  2012-05-06 23:06:29.0  ...     19e2e  051KhYDCpv  051KhYDCpv
...      ...    ...                    ...  ...       ...         ...         ...
4996     sms    100  2012-05-07 00:01:54.0  ...     OTHER  0c2371d9bc  1e751d08a4
4997   Voice      1  2012-05-07 00:01:54.0  ...     19e2e  5fb791cf56  65efe2bc62
4998   Voice      0  2012-05-07 00:01:54.0  ...     19e2e  7773627c12  9ef9616350
4999   Voice      0  2012-05-07 00:01:54.0  ...     19e2e  3f4af49d6c  969b8d0e39
5000   Voice      7  2012-05-07 00:01:54.0  ...     19e2e  6f4d9b77a5  ebfc58af70

[5001 rows x 10 columns]

In [ ]:
with open('/content/Telcom_dataset2.csv','r') as f:
  tb2 = pd.read_csv(f, encoding='utf-8')
tb2

     PRODUCT  VALUE              DATE_TIME  ... COUNTRY_B     CELL_ID     SITE_ID
0        sms      0  2012-05-07 23:02:06.0  ...     19e2e  +854AcBQT2  +854AcBQT2
1      Voice      0  2012-05-07 23:03:44.0  ...     19e2e  +854AcBQT2  +854AcBQT2
2        sms      0  2012-05-07 23:04:06.0  ...     19e2e  +laSrk7g6q  +laSrk7g6q
3      Voice     37  2012-05-07 23:04:48.0  ...     19e2e  /xvRrCVKoQ  /xvRrCVKoQ
4        sms     25  2012-05-07 23:04:58.0  ...     19e2e  +bO+qkSonO  +bO+qkSonO
...      ...    ...                    ...  ...       ...         ...         ...
4996     sms      0  2012-05-08 00:01:53.0  ...     19e2e  896459aace  b7d00e59e4
4997     sms     25  2012-05-08 00:01:53.0  ...     19e2e  7e90b35166  211015b14d
4998     sms      0  2012-05-08 00:01:53.0  ...     19e2e  fe70e431df  c7ea989264
4999    data      0  2012-05-08 00:01:53.0  ...     OTHER  ffa6759bb2         NaN
5000   Voice      0  2012-05-08 00:01:53.0  ...     19e2e  8630058aca  b47a998a3e

[5001 rows x 10 columns]

In [ ]:
with open('/content/Telcom_dataset3.csv','r') as f:
  tb3 = pd.read_csv(f, encoding='utf-8')
tb3

     PRODUCT  VALUE              DATE_TIME  ... COUNTRY_B      CELLID     SIET_ID
0      Voice     61  2012-05-08 23:01:28.0  ...     19e2e  +38u2u/rfx  +38u2u/rfx
1        sms      0  2012-05-08 23:01:31.0  ...     19e2e  +Fs4mTvdKx  +Fs4mTvdKx
2      Voice     10  2012-05-08 23:02:59.0  ...     19e2e  +ZaaZozy/+  +ZaaZozy/+
3        sms      0  2012-05-08 23:03:04.0  ...     19e2e  +cNeJzsTp3  +cNeJzsTp3
4      Voice     22  2012-05-08 23:03:16.0  ...     19e2e  /eeMklgyJA  /eeMklgyJA
...      ...    ...                    ...  ...       ...         ...         ...
4996   Voice      0  2012-05-09 00:01:43.0  ...     19e2e  2aa04dcab7  f7d63a29e5
4997   Voice     62  2012-05-09 00:01:43.0  ...     19e2e  7f1f2f889f  b4ddb9e93c
4998   Voice     32  2012-05-09 00:01:43.0  ...     19e2e  a4731e780e  d68260ef50
4999   Voice     30  2012-05-09 00:01:43.0  ...     19e2e  98ed726da2  b4130b54ab
5000   Voice     60  2012-05-09 00:01:43.0  ...     19e2e  1c11a2fcbb  6d70dae094

[5001 rows x 10 columns]

In [ ]:
with open('/content/cells_geo.csv','r') as f:
  cg = pd.read_csv(f, encoding='utf-8', delimiter=';')
cg

      Unnamed: 0    VILLES      STATUS  ...          AREA     CELL_ID   SITE_CODE
0              0    ADJAME  In Service  ...           NaN  fbb2e75af3  0bb492ef17
1              1    ADJAME  In Service  ...           NaN  1502501d78  0bb492ef17
2              2    ADJAME  In Service  ...           NaN  0c2e182a0c  0bb492ef17
3              3   ASSINIE  In Service  ...           NaN  69bdfc69fd  8a1e6ce31f
4              4   ASSINIE  In Service  ...           NaN  7a1029d2ab  8a1e6ce31f
...          ...       ...         ...  ...           ...         ...         ...
3969        3969  ZUENOULA  In Service  ...  CENTRE NORTH  1cfc2d7ab1  f91ed8d2e9
3970        3970  ZUENOULA  In Service  ...  CENTRE NORTH  3ae1708153  f91ed8d2e9
3971        3971  ZUENOULA  In Service  ...  CENTRE NORTH  cb71f8a29c  61bee9c70c
3972        3972  ZUENOULA  In Service  ...  CENTRE NORTH  d4a6a0b645  61bee9c70c
3973        3973  ZUENOULA  In Service  ...  CENTRE NORTH  f9f3e42589  61bee9c70c

[3974 rows x 12 columns]

#Business Understanding

Currently MTN Cote d'Ivoire would like to upgrade its technology infrastructure for its mobile users in Ivory Coast.

Our main objective for this project is therefore are
;
1. Advising MTN Cote d'Ivoire on how to go about the upgrade of its infrastructure strategy within the given cities.
2. what cities need upgrading and which do not?
3. Find a cost effective way to carry out the upgrade

We have four tables that will assist as to carry out the above. The data has been collected over a period of 3 days and they give us a clear picture of the situation on the ground.

The data we have is enough and we will not need to do any more data mining.

#Data Understanding

In [ ]:
#finding out the data types
tb1.dtypes

PRODUTC            object
VALUE               int64
DATETIME           object
CELL_ON_SITE       object
DW_A_NUMBER_INT    object
DW_B_NUMBER_INT    object
COUNTRY_A          object
COUNTRY_B          object
CELL_ID            object
SITE_ID            object
dtype: object

In [ ]:
tb2.dtypes

p      object
v       int64
d      object
cos    object
da     object
db     object
ca     object
cb     object
cid    object
sid    object
dtype: object

In [ ]:
tb3.dtypes

p      object
v       int64
d      object
cos    object
da     object
db     object
ca     object
cb     object
cid    object
sid    object
dtype: object

In [ ]:
cg.dtypes

Unnamed: 0        int64
VILLES           object
STATUS           object
LOCALISATION     object
DECOUPZONE       object
ZONENAME         object
LONGITUDE       float64
LATITUDE        float64
REGION           object
AREA             object
CELL_ID          object
SITE_CODE        object
dtype: object

In [ ]:
#identifying the precence of null values in the  datasets
tb1.isna().sum()

p        0
v        0
d        0
cos      0
da       0
db       0
ca       0
cb       0
cid      0
sid    716
dtype: int64

In [ ]:
tb2.isna().sum()

p        0
v        0
d        0
cos      0
da       0
db       0
ca       0
cb       0
cid      0
sid    676
dtype: int64

In [ ]:
tb3.isna().sum()

p        0
v        0
d        0
cos      0
da       0
db       0
ca       0
cb       0
cid      0
sid    605
dtype: int64

In [ ]:
cg.isna().sum()

Unnamed: 0       0
VILLES           0
STATUS          67
LOCALISATION     0
DECOUPZONE       0
ZONENAME         6
LONGITUDE        0
LATITUDE         0
REGION           0
AREA            23
CELL_ID          0
SITE_CODE        0
dtype: int64

#Data Preparation

##1.Renaming Columns

In [ ]:
tb1.columns

Index(['PRODUTC', 'VALUE', 'DATETIME', 'CELL_ON_SITE', 'DW_A_NUMBER_INT',
       'DW_B_NUMBER_INT', 'COUNTRY_A', 'COUNTRY_B', 'CELL_ID', 'SITE_ID'],
      dtype='object')

In [ ]:
w=["p",'v','d','cos','da','db','ca','cb','cid','sid']
tb1.columns = w
tb2.columns = w
tb3.columns = w

##2.combining the tables

In [ ]:
tb0= pd.concat([tb1,tb2,tb3])
tb0

          p   v                      d  ...     cb         cid         sid
0     Voice   0  2012-05-06 23:04:37.0  ...  19e2e  /TJNe+Mmtu  /TJNe+Mmtu
1       sms   0  2012-05-06 23:05:25.0  ...  19e2e  /+cKZKIp41  /+cKZKIp41
2       sms  25  2012-05-06 23:05:41.0  ...  19e2e  /u0FSD+ahi  /u0FSD+ahi
3     Voice  56  2012-05-06 23:05:42.0  ...  19e2e  +cNeJzsTp3  +cNeJzsTp3
4     Voice  14  2012-05-06 23:06:29.0  ...  19e2e  051KhYDCpv  051KhYDCpv
...     ...  ..                    ...  ...    ...         ...         ...
4996  Voice   0  2012-05-09 00:01:43.0  ...  19e2e  2aa04dcab7  f7d63a29e5
4997  Voice  62  2012-05-09 00:01:43.0  ...  19e2e  7f1f2f889f  b4ddb9e93c
4998  Voice  32  2012-05-09 00:01:43.0  ...  19e2e  a4731e780e  d68260ef50
4999  Voice  30  2012-05-09 00:01:43.0  ...  19e2e  98ed726da2  b4130b54ab
5000  Voice  60  2012-05-09 00:01:43.0  ...  19e2e  1c11a2fcbb  6d70dae094

[15003 rows x 10 columns]

##3.Reset Index for the combined table

In [ ]:
tb0.reset_index()

       index      p   v  ...     cb         cid         sid
0          0  Voice   0  ...  19e2e  /TJNe+Mmtu  /TJNe+Mmtu
1          1    sms   0  ...  19e2e  /+cKZKIp41  /+cKZKIp41
2          2    sms  25  ...  19e2e  /u0FSD+ahi  /u0FSD+ahi
3          3  Voice  56  ...  19e2e  +cNeJzsTp3  +cNeJzsTp3
4          4  Voice  14  ...  19e2e  051KhYDCpv  051KhYDCpv
...      ...    ...  ..  ...    ...         ...         ...
14998   4996  Voice   0  ...  19e2e  2aa04dcab7  f7d63a29e5
14999   4997  Voice  62  ...  19e2e  7f1f2f889f  b4ddb9e93c
15000   4998  Voice  32  ...  19e2e  a4731e780e  d68260ef50
15001   4999  Voice  30  ...  19e2e  98ed726da2  b4130b54ab
15002   5000  Voice  60  ...  19e2e  1c11a2fcbb  6d70dae094

[15003 rows x 11 columns]

#Data Cleaning

##1.Dropping Duplicates

In [ ]:
tb0.drop_duplicates(inplace=True)
tb0

          p   v                      d  ...     cb         cid         sid
0     Voice   0  2012-05-06 23:04:37.0  ...  19e2e  /TJNe+Mmtu  /TJNe+Mmtu
1       sms   0  2012-05-06 23:05:25.0  ...  19e2e  /+cKZKIp41  /+cKZKIp41
2       sms  25  2012-05-06 23:05:41.0  ...  19e2e  /u0FSD+ahi  /u0FSD+ahi
3     Voice  56  2012-05-06 23:05:42.0  ...  19e2e  +cNeJzsTp3  +cNeJzsTp3
4     Voice  14  2012-05-06 23:06:29.0  ...  19e2e  051KhYDCpv  051KhYDCpv
...     ...  ..                    ...  ...    ...         ...         ...
4995  Voice  10  2012-05-09 00:01:43.0  ...  OTHER  6467daa1db  8a96bae9c1
4996  Voice   0  2012-05-09 00:01:43.0  ...  19e2e  2aa04dcab7  f7d63a29e5
4997  Voice  62  2012-05-09 00:01:43.0  ...  19e2e  7f1f2f889f  b4ddb9e93c
4999  Voice  30  2012-05-09 00:01:43.0  ...  19e2e  98ed726da2  b4130b54ab
5000  Voice  60  2012-05-09 00:01:43.0  ...  19e2e  1c11a2fcbb  6d70dae094

[14750 rows x 10 columns]

In [ ]:
cg.drop_duplicates(inplace=True)
cg

      Unnamed: 0    VILLES      STATUS  ...          AREA     CELL_ID   SITE_CODE
0              0    ADJAME  In Service  ...           NaN  fbb2e75af3  0bb492ef17
1              1    ADJAME  In Service  ...           NaN  1502501d78  0bb492ef17
2              2    ADJAME  In Service  ...           NaN  0c2e182a0c  0bb492ef17
3              3   ASSINIE  In Service  ...           NaN  69bdfc69fd  8a1e6ce31f
4              4   ASSINIE  In Service  ...           NaN  7a1029d2ab  8a1e6ce31f
...          ...       ...         ...  ...           ...         ...         ...
3969        3969  ZUENOULA  In Service  ...  CENTRE NORTH  1cfc2d7ab1  f91ed8d2e9
3970        3970  ZUENOULA  In Service  ...  CENTRE NORTH  3ae1708153  f91ed8d2e9
3971        3971  ZUENOULA  In Service  ...  CENTRE NORTH  cb71f8a29c  61bee9c70c
3972        3972  ZUENOULA  In Service  ...  CENTRE NORTH  d4a6a0b645  61bee9c70c
3973        3973  ZUENOULA  In Service  ...  CENTRE NORTH  f9f3e42589  61bee9c70c

[3974 rows x 12 columns]

##2.Merging Data

In [ ]:
tb0.columns

Index(['p', 'v', 'd', 'cos', 'da', 'db', 'ca', 'cb', 'cid', 'sid'], dtype='object')

In [ ]:
cg.columns

Index(['Unnamed: 0', 'VILLES', 'STATUS', 'LOCALISATION', 'DECOUPZONE',
       'ZONENAME', 'LONGITUDE', 'LATITUDE', 'REGION', 'AREA', 'CELL_ID',
       'SITE_CODE'],
      dtype='object')

In [ ]:
n= pd.merge(tb0,cg,how='inner',left_on='sid',right_on='SITE_CODE',validate='m:1')

MergeError: ignored

No unique record in right data set

In [ ]:
cg.drop_duplicates('SITE_CODE',inplace=True)

In [ ]:
n= pd.merge(tb0,cg,how='inner',left_on='sid',right_on='SITE_CODE',validate='m:1')
n

           p   v                      d  ...           AREA     CELL_ID   SITE_CODE
0        sms   0  2012-05-07 00:00:00.0  ...   CENTRE NORTH  24ccdda3d5  1b5540c02d
1      Voice  92  2012-05-07 00:00:06.0  ...   CENTRE NORTH  24ccdda3d5  1b5540c02d
2        sms  25  2012-05-07 00:00:21.0  ...   CENTRE NORTH  24ccdda3d5  1b5540c02d
3      Voice  16  2012-05-07 00:00:21.0  ...   CENTRE NORTH  24ccdda3d5  1b5540c02d
4      Voice  35  2012-05-07 00:00:41.0  ...   CENTRE NORTH  24ccdda3d5  1b5540c02d
...      ...  ..                    ...  ...            ...         ...         ...
10234  Voice   0  2012-05-09 00:01:27.0  ...   CENTRE NORTH  ddaa93f2e4  8cc89f3fa9
10235    sms   0  2012-05-09 00:01:42.0  ...  ABIDJAN SOUTH  945c1dd777  d236ec6ca8
10236  Voice  47  2012-05-09 00:01:42.0  ...   CENTRE NORTH  8af3936d2c  aa59cc7ced
10237  Voice  17  2012-05-09 00:01:42.0  ...  ABIDJAN NORTH  c179f33d5e  cc45940406
10238    sms   0  2012-05-09 00:01:43.0  ...   CENTRE NORTH  0427a26d34  ab91f5b21d

[10239 rows x 22 columns]

#Analysis
We will analyse the cleaned dataset as per below questions

1. Which ones were the most used city for the three days?
2. Which cities were the most used during business and home hours?
3. Most used city for the three days?
4. Most used product?
5.Percentage of calls made outside country A?

In [ ]:
#1.Which ones were the most used city for the three days?
n.columns

In [ ]:
a=n.groupby(['VILLES']).sum()
a.sort_values(by='v',ascending=False,inplace=True)
a

                     v  Unnamed: 0    LONGITUDE     LATITUDE
VILLES
YOPOUGON         39498     4674767 -6604.275358  8644.037708
COCODY           36726     1225677 -2960.241642  3990.184428
ABOBO            22239     1098551 -4497.481567  6075.487242
KOUMASSI         14597      963142 -1744.675828  2335.837672
TREICHVILLE      13148     1316923 -1592.775089  2105.352647
...                ...         ...          ...          ...
GBAGBAM              0        4995   -16.795417    16.432833
GRAND BEREBY         0        3243    -7.036028     4.677444
NGATTADOLIKRO        0        2582    -5.139167     7.284528
GUEZON TAHOUAKE      0        5334   -21.544283    21.249750
AGOU                 0         362    -3.951333     5.991389

[400 rows x 4 columns]

In [ ]:
#Which cities were the most used during business and home hours?
#splitting the columns
datetime = n
datetime = datetime['d'].apply(lambda x: pd.Series([i for i in (x.lower().split(' '))]))
datetime.columns = ['d','t']
datetime = datetime['t'].apply(lambda x: pd.Series([i for i in (x.lower().split(':'))]))
datetime.columns = ['h','m','s']
datetime['h']= pd.to_numeric(datetime['h'])
datetime.dtypes

h     int64
m    object
s    object
dtype: object

In [ ]:
win = pd.merge(n, datetime, left_index=True , right_index=True)
win

           p   v                      d cos  ...   SITE_CODE  h   m     s
0        sms   0  2012-05-07 00:00:00.0   1  ...  1b5540c02d  0  00  00.0
1      Voice  92  2012-05-07 00:00:06.0   4  ...  1b5540c02d  0  00  06.0
2        sms  25  2012-05-07 00:00:21.0   0  ...  1b5540c02d  0  00  21.0
3      Voice  16  2012-05-07 00:00:21.0   0  ...  1b5540c02d  0  00  21.0
4      Voice  35  2012-05-07 00:00:41.0   1  ...  1b5540c02d  0  00  41.0
...      ...  ..                    ...  ..  ...         ... ..  ..   ...
10234  Voice   0  2012-05-09 00:01:27.0   2  ...  8cc89f3fa9  0  01  27.0
10235    sms   0  2012-05-09 00:01:42.0   1  ...  d236ec6ca8  0  01  42.0
10236  Voice  47  2012-05-09 00:01:42.0   1  ...  aa59cc7ced  0  01  42.0
10237  Voice  17  2012-05-09 00:01:42.0   4  ...  cc45940406  0  01  42.0
10238    sms   0  2012-05-09 00:01:43.0   2  ...  ab91f5b21d  0  01  43.0

[10239 rows x 25 columns]

In [ ]:
o_hrs = win[(win['h'] > 8) & (win['h'] < 17)]
o_hrs

Empty DataFrame
Columns: [p, v, d, cos, da, db, ca, cb, cid, sid, Unnamed: 0, VILLES, STATUS, LOCALISATION, DECOUPZONE, ZONENAME, LONGITUDE, LATITUDE, REGION, AREA, CELL_ID, SITE_CODE, h, m, s]
Index: []

In [ ]:
h_hrs = win[(win['h'] < 8)]
h_hrs2 = win[(win['h'] >= 17)]
h_hrs = pd.concat([h_hrs,h_hrs2] , ignore_index = 0)
h_hrs2.drop
h_hrs

           p   v                      d cos  ...   SITE_CODE  h   m     s
0        sms   0  2012-05-07 00:00:00.0   1  ...  1b5540c02d  0  00  00.0
1      Voice  92  2012-05-07 00:00:06.0   4  ...  1b5540c02d  0  00  06.0
2        sms  25  2012-05-07 00:00:21.0   0  ...  1b5540c02d  0  00  21.0
3      Voice  16  2012-05-07 00:00:21.0   0  ...  1b5540c02d  0  00  21.0
4      Voice  35  2012-05-07 00:00:41.0   1  ...  1b5540c02d  0  00  41.0
...      ...  ..                    ...  ..  ...         ... ..  ..   ...
10234  Voice   0  2012-05-09 00:01:27.0   2  ...  8cc89f3fa9  0  01  27.0
10235    sms   0  2012-05-09 00:01:42.0   1  ...  d236ec6ca8  0  01  42.0
10236  Voice  47  2012-05-09 00:01:42.0   1  ...  aa59cc7ced  0  01  42.0
10237  Voice  17  2012-05-09 00:01:42.0   4  ...  cc45940406  0  01  42.0
10238    sms   0  2012-05-09 00:01:43.0   2  ...  ab91f5b21d  0  01  43.0

[10239 rows x 25 columns]

In [ ]:
#Most used city for the three days?
a.head(1)

              v  Unnamed: 0    LONGITUDE     LATITUDE
VILLES
YOPOUGON  39498     4674767 -6604.275358  8644.037708

In [ ]:
n.columns

Index(['p', 'v', 'd', 'cos', 'da', 'db', 'ca', 'cb', 'cid', 'sid',
       'Unnamed: 0', 'VILLES', 'STATUS', 'LOCALISATION', 'DECOUPZONE',
       'ZONENAME', 'LONGITUDE', 'LATITUDE', 'REGION', 'AREA', 'CELL_ID',
       'SITE_CODE'],
      dtype='object')

In [ ]:
#most used product
b=n.groupby(['p']).sum()
b.sort_values(by='v',ascending=False,inplace=True)
b

            v  Unnamed: 0     LONGITUDE      LATITUDE
p
Voice  251658     9180920 -21871.655218  28106.390503
sms     46011    11546586 -26232.772663  33291.311751

In [ ]:
#percentage of calls made outside country A
g = 0
h = 0

for y , row in n.iterrows():
  
  if row ['p'] == 'Voice':
    h += 1
    if not (row['ca'] == row ['cb']):
      g += 1

x=(g/h)*100
x

3.0691101788474278

#Recommendations

From the above analysis we are able to answer our business problem for our client, MTN.

we have defined for client all the sites that are active and that are oftenly used, the products that are used widely, calls made outside the country.

we have also deduced the cities that least used and those that are highly used.
Based on this, we can be able to make some recommendations to the client as below.

I would advice them to focus on the cell sites with lowest level of activity, thus ensuring to capture their niche.

Ensure to send their agents to do marketing and ensure that the cells are working alright.

For the cities that were really affected during the elections they could upgrade the cell sites prioritising the worst hit areas.

They should ensure not to forget the performing sites as they can mame better profits with lesser efforts of marketing.

#Evaluation

The project has answered all the clients questions and there is no need for a follow up project to be done. 

This recommendations will only be effective for a period of time seeing as the Technology Environment is always changing. 

The client will need to do another project in future to assess the market afresh.